<!-- This is the default generic file. Each other HTML file just specialises by adding onto it in the block content part -->
<!DOCTYPE html>
<html>
  <head> <!-- itll print the title on the tab, and hopefully, make a favicon aswell -->
    
    <!-- does the favicon stuff -->
    <link rel="apple-touch-icon" sizes="152x152" href="/static/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
    <link rel="manifest" href="/static/favicons/site.webmanifest">
    <link rel="mask-icon" href="/static/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/static/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- its possible this cant work on a local host or smthn, ah well-->
    
      <title>Website</title>
  </head>

  <body>
    
    <img src="/static/images/dgs.png" alt="School logo" width="75" height="75">
    
    <div>

      {% block content %} {% endblock content %} <!-- This is where the specialisation happens. Refer to other HTML files to see what happens here -->
    </div>
  </body>
</html>
