{% extends "default.html" %} <!-- Goes into "default.html" and does all the stuff inside there first. 
  Once it gets to "{% block content %} {% endblock content %}", it goes back here -->

{% block content %}
<div>
  
  <h1>Welocme to </h1>
  <h1>Dartford Grammar School</h1>
  
  <img src="/static/images/dgs.png" alt="School logo" width="150" height="150">
  <h1>Computer Science Front Page</h1>
  <a href="{{ url_for('posts') }}">Posts</a>
  <p>Here there will be posts on stuff</p>
</div>
{% endblock content %}
